<div>
	<p class="backbutton"><a ng-href="/">Back to Match</a></p>

	<div id="editform">
		<p id="edititle">EDIT {{ ctrl.user.name }} </p>
			<form ng-submit="ctrl.processForm()">
				<input type="text" ng-model="ctrl.formdata.name">
				<input type="text" ng-model="ctrl.formdata.age" placeholder="age">
				<input type="text" ng-model="ctrl.formdata.gender"placeholder="gender">
				<input type="text" ng-model="ctrl.formdata.img"placeholder="img">
				<input type="submit">
			</form>
		</p>
	</div>

</div>