<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>

	<form action="/products" method="POST">
		<input type="text" name="name" placeholder="name">
		<input type="text" name="description" placeholder="description">
		<input type='text' name="price" placeholder="price">
		<input type="text" name="qty" placeholder="quantity">
		<input type="text" name="img" placeholder="image url">
		<button>ADD NEW PRODUCT</p>
	</form>

</body>
</html>