body {
	font-family: 'Love Ya Like A Sister', cursive;
	background-image: url("https://image.freepik.com/free-photo/texture--textures--whipped-cream--food_311215.jpg");
	background-size: cover;
}

input {
	height: 40px;
	border-radius: 5px;
	border: none;
}

a {
	text-decoration: none;
}

#container {
	height: 800px;
	width: 1350px;
	margin: 0 auto;
}

#header {
	text-align: center;
	cursor: pointer;
}

#header-text {
	font-size: 50px;
	font-style: italic;
}

#users-left, #match, #users-right {
	display: inline-block;
	overflow: hidden;
}

#users-left, #users-right {
	width: 350px;
}

.username {
	font-size: 20px;
}

.left-pic, .right-info {
	border: 10px solid darkturquoise;
	text-align: center;
	border-radius: 35px;
	display: inline-block;
	height: 150px; width: 150px;
	background-color: #AFCFAF;
	overflow: hidden;
	margin-bottom: 10px;
}

.center-img {
	display: inline-block;
	height: 250px; width: 250px;
	margin-top: 40px;
	margin-left: 30px;
	border-radius: 40px;
}

#match {
	border-radius: 50px;
	border: 20px solid #ff69b4;
	vertical-align: top;
	height: 500px; width: 600px;
	background-color: #E5D372;
}

#match-button {
	text-align: center;
	border-radius: 40px;
	height: 130px;
	width: 400px;
	background-color: pink;
	line-height: 130px;
	vertical-align: center;
	font-size: 40px;
	color: white;
	margin: 0 auto;
	margin-top: 30px;
	border: 5px solid white;
	cursor: pointer;
}

#newform {
	text-align: center;
	margin: 0 auto;
	height: 150px; width: 600px;
	border: 15px solid darkgrey;
	border-radius: 20px;
	background-color: grey;
	opacity: 0.5;
}

#editform {
	text-align: center;
	margin: 0 auto;
}

#edititle {
	font-size: 30px;
}

.backbutton, .submit {
	text-align: center;
	cursor: pointer;
}
