<html>
<head>
	<title></title>
</head>
<body>
	<h2>New Vampire</h2>

	<form action="/vampires" method="post">
		<input name="name" placeholder="name">
		<input name="img" placeholder="image url">
		<input name="gender" placeholder="m or f">
		<input name="location" placeholder="location">
		<input name="victims" placeholder="victim count">
		<button>Submit new vampire</button>
	</form>

</body>
</html>