<html>
<head>
	<title>Adventure Time</title>
</head>
<body>
	<div style="height: 500px; width: 500px; margin: 0 auto; text-align: center">
	<a href="/characters">Back to list</a>

	<h1><%= data.name %></h1>

	<img src="<%= data.img %>"/>

	<p><%= data.about %></p>

</div>
</body>
</html>


