body {
	font-family: monospace;
}

#container {
	width: 800px;
	height: 440px;
	border: 1px solid black;
	margin-left: 120px;
	border-radius: 15px;
	background-color: ivory;
}

#top {
	margin-top: 20px;
}

#message {
	line-height: 40px;
	text-align: center;
}

#board {
	margin-left: 35px;
	min-width: 800px;
}

#board * {
	position: absolute;
	top: 80px;
	left: 90px;
	height: auto; width: auto;
	transition: all 0.4s ease-in;
}

.position0 {
	transform: translateX(0px);
}

.position1 {
	transform: translateX(250px);
}

.position2 {
	transform: translateX(500px);
}

#start-shuffle {
	width: 100px; height: 40px;
	margin: 0 auto;
	text-align: center;
	cursor: pointer;
	line-height: 40px;
	vertical-align: center;
	border-radius: 5px;
	font-size: 20px;
}




